<% include ./partials/header %>

    <div class='ui main text container'>
        <div class='ui huge header'><%= post.title %></div>
        <div class='ui top attached segment'>
            <div class='item'>
                <img class='ui centered rounded image' src='<%= post.image %>'>
                <div class='content'>
                    <span> <%= post.created.toDateString() %> </span>
                </div>
                <div class='description'>
                    <%# The dash allows the post body to be evaluated for html.. %>
                    <%# This is unsecure since someone could write a script tag in here... %>
                    <%# Research better ways to do this. %>
                    <p> <%- post.body %> </p>
                </div>
                <a class='ui orange basic button' href='/posts/<%= post._id %>/edit'>Edit</a>
                <form id='delte' action='/posts/<%= post._id %>?_method=DELETE' method='POST'>
                    <button class='ui red basic button'>Delete</button>
                </form>
            </div>
        </div>
    </div>

<% include ./partials/footer %>